h1, p {
    color: rgb(5, 78, 5);
    text-decoration: underline;
}
/* p {
    color: rgb(5, 78, 5);
    text-decoration: underline;
    text-decoration: dashed;
} */
li {
    list-style-type:square;
    list-style-position: inside;
}