h1:hover{
    color: rgb(10, 22, 128);
    text-decoration: underline;
}
li {
    list-style-type:square;
    list-style-position: inside;
}
/* Buttons */
.btn-login {
    background-color: #199319;
    color: rgb(0, 0, 0);
    padding: 8px 18px;
    text-decoration: none;
    cursor: pointer;
    text-decoration:none;
}
.btn-register {
    background-color: #199319;
    color: rgb(0, 0, 0);
    padding: 8px 18px;
    align-items:flex-end;
    text-decoration: none;
    cursor: pointer;
    text-decoration:none;
}
.btn-login:hover {
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 5px 15px rgba(6, 170, 0, 0.767);
}
.btn-register:hover {
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 5px 15px rgba(6, 170, 0, 0.767);
}