body{
    background-color: #000016;
}
h1{
    color: rgb(207, 93, 0);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
li,p {
    color:rgb(194, 78, 0);
    list-style-type:square;
    list-style-position: inside;
    font-size:x-large;
    
}
/* Buttons */
.btn-login {
    background-color: #199319;
    color: rgb(0, 0, 0);
    padding: 5px 18px;
    text-decoration: none;
    cursor: pointer;
    text-decoration:none;
    border-radius: 5px;
}
.btn-register {
    background-color: #199319;
    color: rgb(0, 0, 0);
    padding: 5px 18px;
    align-items:flex-end;
    text-decoration: none;
    cursor: pointer;
    text-decoration:none;
    border-radius: 5px;
}
.btn-login:hover {
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 5px 15px rgba(6, 170, 0, 0.767);
}
.btn-register:hover {
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 5px 15px rgba(6, 170, 0, 0.767);
}


.ghost-button {
    color: #c24e00;
    background: #000016;
    border: 1px solid #c24e00;
    font-size: 17px;
    padding: 7px 12px;
    font-weight: normal;
    border-radius: 5px;
    margin: 6px 0;
    margin-right: 12px;
    display: inline-block;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    min-width: 120px;
  }
  .ghost-button:hover, .ghost-button:active {
    color:#fff;
    background:#c24e00;
    box-shadow: 0 5px 5px #c24e00;
  }

  /* FLEX */

  .flex-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    background-color: #00fff2;
  }
  .flex-intro {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    background-color: #09ff00;
  }
  .flex-left-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 200px 30px;
    background-color: #fffb05;
  }
  .flex-medio{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ff05d5;
  }
.flex-links{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000016;
}
  .flex>div { 
    background-color: #f1f1f1;
    color: white;
    width: 100px;
    height: 100px;
  }
.img-git{
  width: 40px;
  height: 40px;
  filter: opacity(0.3) drop-shadow(0 0 0 #c24e00);
}
.img-youtube{
  width: 40px;
  height: 40px; 
  filter: opacity(0.3) drop-shadow(0 0 0 #c24e00); 
}
